<!-- Modal -->
<ng-template (contextmenu)="preventRightClick()" #content let-modal>
  <div class="modal-header text-light" [ngClass]="'bg-'+type">
    <!-- Header Text -->
    <h5 class="modal-title" >{{header}}</h5>
    <!-- Close Button -->
    <button type="button" class="close text-light" aria-label="Close" (click)="modal.dismiss('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div *ngIf="body" class="modal-body">
    <!-- Body Text -->
    <div class="mb-5">
      {{body}}
    </div>

    <!-- Anothor Forms -->
    <app-date-selector *ngIf="purpose==='renew'" (date)="onSelectDate($event)"></app-date-selector>
    <app-hero-edit-form *ngIf="purpose==='edit'" (editedHero)="onEditHero($event)" [hero]="hero"></app-hero-edit-form>

  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel')" data-dismiss="modal">Cancel</button>
    <button (click)="onSubmit(modal)" type="button" [ngClass]="['btn-'+type,!type?'btn-success':'']"
      class="btn">{{actionButton}}</button>
  </div>
</ng-template>

<!-- Button trigger modal -->
<button #openButtonRef type="button" (click)="open(content)" class="btn btn-primary d-none"></button>