<!-- Button trigger modal -->
<button #open type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal"></button>

<!-- Modal -->
<div (contextmenu)="preventRightClick()" class="modal fade" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" [ngClass]="'alert-'+type">
      <div class="modal-header">
        <!-- Header Text -->
        <h5 class="modal-title" id="exampleModalLabel">{{header}}</h5>
        <!-- Close Button -->
        <button #close type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="body" class="modal-body">
        <!-- Body Text -->
        <div class="mb-5">
          {{body}}
        </div>

        <!-- Anothor Forms -->
        <app-date-selector *ngIf="purpose==='renew'" (date)="onSelectDate($event)"></app-date-selector>
        <app-hero-edit-form *ngIf="purpose==='edit'"  [hero]="hero"></app-hero-edit-form>

      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="onSubmit()" type="button" [ngClass]="['btn-'+type,!type?'btn-success':'']" class="btn">{{actionButton}}</button>
      </div>
    </div>
  </div>
</div>