<form #form="ngForm" class="form-inline justify-content-start">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <select ngModel name="filter" class="form-control">
                <option value="" selected hidden>Select Program</option>
                <option value="new">New => Old</option>
                <option value="old">Old => New</option>
                <option value="overtime">Overtime only</option>
                <option value="inactive">Inactive only</option>
            </select>

        </div>
    </div>
</form>