@import 'variables';

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-control{
    &:focus{
        outline: transparent;
    }
}

.filterInput::after{
    content: "\f0b0";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 2px;
    z-index: 5;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    pointer-events: none;
}
.filterInputGrey::after{
   color: $secondary;
}
.filterInputDanger::after{
    color: $danger;
}