<form #form="ngForm" class="form-group mb-2 justify-content-">
    <div class="input-group filterInput" [ngClass]="(filterInputDate==='')? 'filterInputGrey':'filterInputDanger'">
        <div [ngClass]="filterInput.value? '':'d-none'" class="input-group-prepend">
            <button #clearButton (click)="filterInputDate=''" class="btn btn-sm btn-outline-danger">
                <i class="fas fa-ban" style="font-size: 1.6rem;"></i>
            </button>
        </div>
        <select [(ngModel)]="filterInputDate" #filterInput="ngModel" name="filter" class="form-control position-relative">
            <option value="" selected hidden>Filter by</option>
            <option value="overtime">Overtime Only</option>
            <option value="inactive">Inactive Only</option>
        </select>
    </div>
</form>