<ng-sidebar-container>
  <!-- The Sidebar -->
  <ng-sidebar #sidebar mode="push" [(opened)]="_opened">
    <div class="text-right">
      <i (click)="sidebar.close()" class="fas fa-times text-light p-3"></i>
    </div>

      <app-sidebar-list [sidebar]="sidebar"></app-sidebar-list>
      
  </ng-sidebar>



  <div class="p-2 sideBarCont" ng-sidebar-content>
    <!-- Sidebar Opener -->
    <button *ngIf="!_opened" class="btn btn-dark zIndex" (click)="_toggleSidebar()"><i
        class="fas fa-stream"></i></button>

    <!-- PAGE CONTENT -->
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>

</ng-sidebar-container>
