
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar #sidebar mode="push" [(opened)]="_opened">
    <div class="text-right">
      <i (click)="sidebar.close()" class="fas fa-times text-light p-3"></i>
    </div>
    <app-sidebar-list></app-sidebar-list>
  </ng-sidebar>

  <!-- Page content -->
  <div class="p-2" ng-sidebar-content>
    <button *ngIf="!_opened" class="btn btn-dark" (click)="_toggleSidebar()"><i class="fas fa-stream"></i></button>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>