<div class="row justify-content-between">
    <div class="col-6">
        <app-filter-field (filterDate)="viewFilterData($event)"></app-filter-field>
    </div>
    <div class="col-6">
        <div class="text-right">
            <app-search-field (searchData)="viewSearchData($event)"></app-search-field>
        </div>
    </div>
</div>

<main (click)="_showMenu=false" style="min-height: 100vh;">

    <!-- Table of heros -->
    <div class="table-responsive-md">
        <table *ngIf="heros.length!==0" class="table noselect">
            <thead>
                <tr>
                    <th scope="col" style="color: white">#</th>
                    <th scope="col" style="color: white" class="text-center">Attend</th>
                    <th scope="col" style="color: white">Name</th>
                    <th scope="col" style="color: white">Program</th>
                    <th scope="col" style="color: white">Days Left</th>
                    <th scope="col" style="color: white">Active Days</th>
                    <th scope="col" style="color: white">Over Time</th>
                </tr>
            </thead>
            <tbody>

                <tr [ngClass]="hero.getStatusClass" 
                    *ngFor="let hero of heros; let i=index"
                    (contextmenu)="onRightClick(hero.getHeroInfo._id,i,$event)" 
                    class="text-dark">
                    <!-- ID -->
                    <th scope="row">
                        {{hero.getHeroInfo._id}}
                    </th>
                    <!-- Check Button -->
                    <td class="text-center">
                        <button (click)="markAttend(i,hero.getHeroInfo._id)" *ngIf="!hero.getHeroInfo.attendToday" class="btn btn-success btn-sm">
                            <i class="fas fa-check"></i>
                        </button>
                        <i *ngIf="hero.getHeroInfo.attendToday" class="fas fa-check-double text-success"></i> 
                    </td>
                    <!-- Name -->
                    <td >
                        {{hero.getHeroInfo.name}}
                    </td>
                    <!-- Program -->
                    <td>
                        {{hero.getHeroInfo.program}}
                    </td>
                    <!-- DaysLeft -->
                    <td>
                        {{hero.getHeroInfo.daysLeft}}
                    </td>
                    <!-- ActiveDays -->
                    <td class="text-success">
                        {{hero.getHeroInfo.activeDaysNumber}}
                    </td>
                    <!-- OverTime -->
                    <td [ngClass]="hero.getHeroInfo.overtimeDaysNumber===0? 'text-dark':'text-danger'">
                        {{hero.getHeroInfo.overtimeDaysNumber}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <!-- if No heros Found -->
    <div *ngIf="heros.length===0" class="VHcenter text-danger">
        <i class="fas fa-times-circle fa-5x mr-3"></i>
        <strong class="h2">No Heros At The Moment!</strong>
    </div>

    <!-- Floating Menu -->
    <app-option-menu [show]="_showMenu" [hero]="heros[currentIndex]" [index]="currentIndex" [position]="{yPos:menuYpos,xPos:menuXpos}">
    </app-option-menu>

</main>

