@import 'variables';

thead{
    background-color: $primary-color;
}

tr{
    i{
        cursor: pointer;
        padding: 0.5rem;
        &:hover,&:active{
            transform: scale(1.1);
        }
    }   
        
}
