<div class="container hideOverflow">
    <div class="pt-5 text-center">
        <ul class="list-group list-group-flush text-light noselect">

            <li (click)="closeSidebar()" class="list-group-item" routerLinkActive="active" [routerLink]="['home']">
                <i class="fas fa-home"></i>
                Home
            </li>

            <li (click)="closeSidebar()" class="list-group-item" routerLinkActive="active" [routerLink]="['heros']">
                <i class="fas fa-dumbbell"></i>
                Heros
            </li>

            <li (click)="closeSidebar()" class="list-group-item" routerLinkActive="active" [routerLink]="['add-hero']">
                <i class="fas fa-user-plus"></i>
                Add New Hero
            </li>

        </ul>
    </div>
</div>